/* --- window --- */

body {
  background-color: #edeef0;
}

/* --- header --- */

.header {
  width: 100%;
  position: fixed;
  height: 50px;
  margin-top: 0px;
  background-color: #2a5885;
  .wrapper {
    float: left;
    white-space: nowrap;
    .logo {
      color: white;
      font-size: 33px;
      display: inline-block;
      white-space: nowrap;
    }
    .greeting {
      display: inline-block;
    }
    .login {
      display: inline-block;
    }
  }
}


.container {
  margin-top: 20px;
  background-color: lightblue;
}

.comment {
  background-color: lightgreen;
}

.edit-button {
  float: right;
}

.delete-button {
  float: right;
}

.comment-section {
 margin-left: 50px;
 margin-bottom: 30px;
}

.header-logo {
  color: black;
}
